{% extends 'base.html' %}

{% block title %} Nouveau devis {% endblock title %}
{% block sidebarre %} {% include 'navbar.html' %} {% endblock sidebarre %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Devis</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Nouveau devis</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    
                    <div class="card-body">
                        <div class="basic-form">
                            <form method="POST">
                                {% csrf_token %}
                                
                                <div class="row">
                                    <div class="col-lg-12">
                                       {{form.fournisseur.label}}
                                       {{form.fournisseur}}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-4">
                                       {{form.date_du_bon.label}}
                                       {{form.date_du_bon}}
                                    </div>
                                    <div class="col-lg-4">
                                        {{form.date_livraison.label}}
                                        {{form.date_livraison}}
                                     </div>
                                     <div class="col-lg-4">
                                        {{form.ref_devis.label}}
                                        {{form.ref_devis}}
                                     </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                       {{form.observation.label}}
                                       {{form.observation}}
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary mt-3">Confirmer les informations</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
        

{% endblock content %}