{% extends 'base.html' %}
{% load static %}
{% block title %} Nouvelle note {% endblock title %}
{% block sidebarre %} {% include 'navbar.html' %} {% endblock sidebarre %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Notes</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Nouvelle note</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    
                    <div class="card-body">
                        <div class="basic-form">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="col-md-12">
                                    <label for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
                                    {{ form.text }}
                                    {{ form.label.errors }}   
                                </div>

                          
                                
                                <button type="submit" class="btn btn-primary mt-3">ENREGISTRER</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock content %}