{% extends 'base.html' %}
{% block title %} Liste des bons {% endblock title %}
{% load static %}
{% block sidebarre %} {% include 'pos-sidebarre.html' %} {% endblock sidebarre %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Point de vente</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Historique des bons</a></li>
            </ol>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                   
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example3" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Utilisateur</th>
                                        <th>Montant TOTAL</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for e in session_data %}
                                        <tr>
                                            <td>{{e.session.num}}</td>
                                            <td>{{e.session.created_at}}</td>
                                            {% if e.session.etat == "1" %}
                                                <td><span class="badge light badge-success" >En cours</span></td>
                                            {% elif e.session.etat == "0" %}
                                                <td><span class="badge light badge-danger" >Terminer</span></td>
                                            {% endif %}
                                            <td>
                                                {{e.session.user.username}}
                                            </td>
                                            <td><b>{{e.montant_session|floatformat:2}} {{config.devise}}</b></td>
                                            <td>
                                                <div class="d-flex">
                                                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                                    <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                </div>												
                                            </td>												
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}