{% extends 'base.html' %}
{% load static %}

{% block title %} Liste des paiements des fournisseurs {% endblock title %}
{% block sidebarre %} {% include 'navbar.html' %} {% endblock sidebarre %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Fournisseurs</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Paiements des fournisseurs</a></li>
            </ol>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nouveauPaiement">
                            Nouveau paiement
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive-md" style="min-width: 100%">
                                <thead>
                                    <tr>
                                       
                                        <th>Paiements</th>
                                        <th>Réf. </th>
                                        <th>Montant</th>
                                        <th>Crée le</th>
                                        <th>Actions</th>
                                    
                                    </tr>
                                </thead>
                                <tbody id="tableListeItem">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" id="deleteRecord-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
            </div>
            <div class="modal-body p-5 text-center">
               
                <div class="mt-4 text-center" id="deleteModalBody">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="nouveauPaiement" tabindex="-1" aria-labelledby="nouveauPaiementLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="nouveauPaiementLabel">Nouveau paiement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-12">
                        <label for="num_bon_commande">N° Bon de commande</label>
                        <select name="num_bon_commande" id="num_bon_commande" class="form-control" required>
                            
                        </select>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-12">
                        <label for="date_paiement">Date paiement</label>
                        <input type="date" class="form-control" name="date_paiement" id="date_paiement" required>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-6">
                        <label for="montant_paye">Montant payé</label>
                        <input type="number" class="form-control" name="montant_paye" id="montant_paye" step="0.01" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="reference_paiement">Référence paiement</label>
                        <input type="text" class="form-control" name="reference_paiement" id="reference_paiement" >
                    </div>
                </div>

                <div class="row mt-3">
                    
                </div>
                
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-warning" id="addNewPaiement">Confirmer le paiement</button>
            </div>
        </div>
    </div>
</div>

<script>

  $(document).ready(function(){

    loadItems();
    loadBonsCommande();

    function loadItems(){
        $.ajax({
            url : "{% url 'commercial:ApiGetListePaiementsFournisseurs' %}",
            type : 'GET',
            success : function(data){
                var row = "";
                if (data.length > 0){
                    $.each(data, function(index, p){
                        
                            row += "<tr>";
                            row += "<td><b>"+p.montant+"</b></td>";
                            row += "<td><b>"+p.ref_bon_commande__number+"</b></td>";
                            row += "<td>"+p.montant+"</td>";
                            row += "<td>"+p.created_at+"</td>";
                            row += "<td>";
                            row += "<button id='deleteBtn' data-id='"+p.id+"' class='btn btn-danger shadow btn-xs sharp'><i class='fa fa-trash'></i>"
                            row +="</td>";
                            row += "</tr>";
                    
                        
                    });
                }else{
                        row += "<tr><td colspan='5'><center><b>Aucun paiement n'a été effectuer</b></center> </td></tr>";
                    }

                $('#tableListeItem').html(row);
            },
        });
    };

    function loadBonsCommande(){
        $.ajax({
            url : "{% url 'commercial:ApiGetListeCommande' %}",
            type : 'GET',
            success : function(data){
                var row = "";
                var pListe = data.liste;
                var c = data.conf;

                $.each(pListe, function(index, p){
                    row += "<option value='" + p.id + "'>" + c.prefix_commande +" "+ p.number + "</option>";
                });

                $('#num_bon_commande').html(row)
            },
            
        });
    }
    
    $(document).on('click','#addNewPaiement',function(){
        var id_commande = document.getElementById('num_bon_commande').value;
        var date_paiement = document.getElementById('date_paiement').value;
        var montant = document.getElementById('montant_paye').value;
        var ref_paiement = document.getElementById('reference_paiement').value;

        console.log(id_commande);
        $.ajax({
            url : "{% url 'commercial:AddPaiementFournisseur' %}",
            type : 'GET',
            data : {
                'id_commande' : id_commande,
                'date_paiement' : date_paiement,
                'montant' : montant,
                'ref_paiement' : ref_paiement,
            },
            success : function(response){
                response.messages.forEach(function(message) {
                        if (message.tags.includes('success')) {
                            alertify.success(message.message);
                        } else if (message.tags.includes('error')) {
                            alertify.error(message.message);
                        }
                    });
                    loadItems();
                    $('#nouveauPaiement').modal('hide');
            }
        })
    });
    
    $(document).on('click', '#deleteBtn', function(){
            var id_commande = $(this).data('id');

            var lab = '<div class="swal2-icon swal2-warning swal2-animate-danger-icon" style="display: flex;"><span class="swal2-icon-text">!</span></div>';

            var content = "<h4 class='fs-semibold'>Vous étes sur le point de supprimer le paiement</h4>" +
                "<p class = 'text-muted fs-14 mb-4 pt-1' > La suppréssion du paiement supprimera toutes les informations dans la base de données. </p>" +
                "<div class = 'hstack gap-2 justify-content-center remove'>" +
                "<button class ='btn btn-link link-info fw-semibold text-decoration-none' id = 'deleteRecord-close' data-bs-dismiss = 'modal' > <i class = 'ri-close-line me-1 align-middle'> </i> Fermer </button>" +
                "<button class ='btn btn-primary' data-id='"+id_commande+"' id='confirmDelete'> Confirmer la suppréssion </button> </div>";

            $('#deleteModalBody').html(lab+content);
            $('#deleteRecordModal').modal('show');
            
        })
});  
    
</script>

{% endblock content %}