{% extends 'base.html' %}
{% load static %}

{% block title %} Liste des clients {% endblock title %}
{% block sidebarre %} {% include 'navbar.html' %} {% endblock sidebarre %}
{% block content %}


<div class="content-body">
    <div class="container-fluid">
        
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Clients</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Liste des clients</a></li>
            </ol>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                   
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example3" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        
                                        <th>Désignation</th>
                                        <th>Email</th>
                                        <th>N° Mobile</th>
                                        <th>N° FAX</th>
                                        <th>Crée le</th>
                                       
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for e in list %}
                                        <tr>
                                           
                                            <td>{{e.designation}}</td>
                                            <td>{{e.email}}</td>
                                            <td>{{e.mobile}}</td>
                                            <td>{{e.fax}}</td>
                                            <td>{{e.created_at|date}}</td>
                                            
                                            <td>
                                                <div class="d-flex">
                                                    <a href="{% url 'commercial:client_update' pk=e.id %}" class="btn btn-warning shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                                    <a href="{% url 'commercial:clientDetails' pk=e.id %}" class='btn btn-primary shadow btn-xs sharp me-1'><i class='fa fa-eye'></i></a>
                                                    <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                </div>												
                                            </td>												
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}