{% extends 'base.html' %}
{% block title %}Liste des commandes{% endblock title %}
{% load static %}
{% block sidebarre %} {% include 'navbar.html' %} {% endblock sidebarre %}
{% block content %}


<div class="content-body">
    <div class="container-fluid">
        
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Gestion des commandes</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Liste des bons de commandes</a></li>
            </ol>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive" style="min-width: 100%">
                                <thead>
                                    <tr>
                                       
                                        <th>N°</th>
                                        <th>Fournisseur</th>
                                        <th>Date du bon</th>
                                        <th>Etat</th>
                                        <th>Crée le</th>
                                        <th>Actions</th>
                                        
                                    </tr>
                                </thead>
                                <tbody id="itemTableBody">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="commandeDetailsModal" tabindex="-1" aria-labelledby="commandeDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="commandeDetailsModalLabel">Détails du bon de commande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body" id="bodyContent">
                <input readonly hidden type="text" id="d_id_commande" class="form-control" />
                <label for="d_num_commande">N° commande</label>
                <input readonly type="text" id="d_num_commande" class="form-control" />

                <div class="col-lg-12 mt-5">
                    <h5>Détails des produits :</h5>
                    <table class="table table-responsive">
                        <thead>
                            <th>Produit</th>
                            <th>Qty</th>
                        </thead>
                        <tbody id="contentTable">
        
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer" id="footer_update_user">
               
            </div>
        </div>
    </div>
</div>

<div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" id="deleteRecord-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
            </div>
            <div class="modal-body p-5 text-center">
               
                <div class="mt-4 text-center" id="deleteModalBody">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        loadItem();

        function loadItem(){
            $.ajax({
                url : "{% url 'commercial:ApiGetListeCommande' %}",
                type : "GET",
                success : function(data){
                    var row = "";
                    if(data.length > 0){
                        $.each(data, function(index, p){
                            row += "<tr>";
                            row += "<td><b>"+p.number+"</b></td>";
                            row += "<td>"+p.fournisseur__designation+"</td>";
                            row += "<td>"+p.date_du_bon+"</td>";
                            row += "<td>"+(p.etat == "bro" ? '<span class="badge light badge-warning"><i class="fa fa-circle text-warning me-1"></i>'+p.etat_label+'</span>' : 
                                            p.etat == "ann" ? '<span class="badge light badge-danger"><i class="fa fa-circle text-danger me-1"></i>'+p.etat_label+'</span>' : 
                                            p.etat == "val" ? '<span class="badge light badge-success"><i class="fa fa-circle text-success me-1"></i>'+p.etat_label+'</span>' : 
                                            '<span class="badge light badge-dark"><i class="fa fa-circle text-dark me-1"></i>'+p.etat_label+'</span>')+"</td>";
                            row += "<td>"+p.created_at+"</td>";
                            row += "<td>";
                            row += "<a "+(p.etat == "val" ? "hidden" : " " )+" href='/achat/bons-de-commandes/configuration/"+p.id+"' class='btn btn-warning shadow btn-xs sharp me-1' id='editBTN'><i class='fas fa-pencil'></i></a>";
                            row += "<button data-id='"+p.id+"' class='btn btn-primary shadow btn-xs sharp me-1' id='detailsBtn'><i class='fas fa-eye'></i></button>";
                            row += "<button "+(p.etat == "val" ? "hidden" : " " )+" data-id='"+p.id+"' id='confirmDeleteBtn' class='btn btn-danger shadow btn-xs sharp me-1'><i class='fa fa-trash'></i></button>";
                            row += "</td>";
                            row += "</tr>";
                        });
                    }else{
                        row += "<tr><td colspan='5'><center><b>Aucune commande crée pour le moment !</b></center></td></tr>";
                    }
                    $('#itemTableBody').html(row);
                }
            });
        }

        $(document).on('click', '#confirmDeleteBtn', function(){
            var id_commande = $(this).data('id');
            var lab = '<div class="swal2-icon swal2-warning swal2-animate-danger-icon" style="display: flex;"><span class="swal2-icon-text">!</span></div>';

            var content = "<h4 class='fs-semibold'>Vous étes sur le point de supprimer ce bon de commande</h4>" +
                "<p class = 'text-muted fs-14 mb-4 pt-1' > La suppréssion de cette commande supprimera toutes les informations dans la base de données. </p>" +
                "<div class = 'hstack gap-2 justify-content-center remove'>" +
                "<button class ='btn btn-link link-info fw-semibold text-decoration-none' id = 'deleteRecord-close' data-bs-dismiss = 'modal' > <i class = 'ri-close-line me-1 align-middle'> </i> Fermer </button>" +
                "<button class ='btn btn-primary' data-id='"+id_commande+"' id='deleteBtn'> Confirmer la suppréssion </button> </div>";

            $('#deleteModalBody').html(lab+content);
            $('#deleteRecordModal').modal('show');
        });

        $(document).on('click', '#deleteBtn', function(){
            var id_bon_commande = $(this).data('id');
            $.ajax({
                url : "{% url 'commercial:ApiDeleteBonCommande' %}",
                data : {'id_bon_commande' : id_bon_commande},
                type : 'GET',
                success : function(response){
                    response.messages.forEach(function(message) {
                        if (message.tags.includes('success')) {
                            alertify.success(message.message);
                        } else if (message.tags.includes('error')) {
                            alertify.error(message.message);
                        }
                    });
                    loadItem();
                    $('#deleteRecordModal').modal('hide');
                },
            });
        });
        
        $(document).on('click', '#detailsBtn', function(){
            var id_commande = $(this).data('id');

            $.ajax({
                url : "{% url 'commercial:ApiFetchCommandeDetails' %}",
                data : {
                    'id_commande' : id_commande,
                },
                type : 'GET',
                success : function(data){
                    var obj = data.obj;
                    var obj_item = data.obj_items;

                    $('#d_id_commande').val(obj[0].id);
                    $('#d_num_commande').val(obj[0].number);

                    var row = " ";
                    $.each(obj_item, function(index, p){
                        row += "<tr>";
                        row += "<td>"+p.produit__designation+"</td>";
                        row += "<td>"+p.qty+"</td>";
                        row += "</tr>";

                    });
                    $('#contentTable').html(row);
                    $('#commandeDetailsModal').modal('show');
                }
            });
        });
    });
</script>

{% endblock content %}