{% extends 'base.html' %}
{% load static %}

{% block title %} Factures d'avoir {% endblock title %}
{% block sidebarre %} {% include 'navbar.html' %} {% endblock sidebarre %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Ventes</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Liste des avoirs</a></li>
            </ol>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newAvoir"> Nouvelle facture d'avoir </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example3" class="display" style="min-width: 100%">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>N° Facture Origine</th>
                                        <th>Client</th>
                                        <th>Etat</th>
                                        <th>Crée le</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="factureAvoirTableListe">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="newAvoir" tabindex="-1" aria-labelledby="newAvoirLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="newAvoirLabel">Nouvelle facture d'avoir</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form method="POST">
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="new_username_add"><b>Facture d'origine</b></label>
                            <select class="form-control" name="fac_origin" id="fac_origin">
                                {% for i in factures %}
                                    <option value="{{i.id}}">{{conf.prefix_facture}}-{{i.number}}</option>
                                {% endfor %}
                            </select>
                          </div>
                    </div>    

                    <div class="row mt-2">
                        <div class="col-lg-12">
                            <label for="motif_avoir">Motifs (Décrivez la raison de cette facutre d'avoir)</label>
                            <input type="text" class="form-control" id="motif_avoir" name="motif_avoir">
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-warning" id="confirmBtn">confirmer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" id="deleteRecord-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
            </div>
            <div class="modal-body p-5 text-center">
               
                <div class="mt-4 text-center" id="deleteModalBody">

                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function(){
        loadItem();

        function loadItem(){
            $.ajax({
                url : "{% url 'commercial:APIGetFactureAvoir' %}",
                data : "GET",
                success : function(data){
                    var row = "";
                    if (data.length > 0){
                    $.each(data, function(index, p){
                        row += "<tr>";
                        row += "<td>"+p.number+"</td>";
                        row += "<td><b>{{conf.prefix_facture}}-"+p.ref_facture__number+"</b></td>";
                        row += "<td>"+p.ref_facture__client__designation+"</td>";
                        row += "<td><b>" +  (p.etat == "bro" ? '<span class="badge light badge-warning"><i class="fa fa-circle text-warning me-1"></i>'+p.etat_label+'</span>' : 
                                             p.etat == "ter" ? '<span class="badge light badge-success"><i class="fa fa-circle text-success me-1"></i>'+p.etat_label+'</span>' : '' ) + "</b></td>" ;
                        row += "<td>"+p.created_at+"</td>";
                        row += "<td>"
                        row += "<a href='/ventes/facture-avoir/configuration/"+p.id+"' class='btn btn-primary shadow btn-xs sharp me-1' id='avoirConfBtn'><i class='fas fa-pencil-alt'></i></a>";
                        row += "<a href='"+p.id+"' class='btn btn-success shadow btn-xs sharp me-1' id='avoirDetailsBtn'><i class='fas fa-eye'></i></a>";
                        row += "<button data-id='"+p.id+"' id='confirmDeleteFacutreAvoir' class='btn btn-danger shadow btn-xs sharp'><i class='fa fa-trash'></i></button>";
                        row += "</td>";
                        row += "</tr>";
                    });} else{
                        row += "<tr><td colspan='6'><center><b>Aucune facture d'avoir crée !</b></center></td></tr>";
                    }
                    $('#factureAvoirTableListe').html(row);
                }
            });
        }   
    
        $(document).on('click', '#confirmBtn', function(){
            var id_facture = document.getElementById('fac_origin').value;
            var motif_avoir = document.getElementById('motif_avoir').value;

            $.ajax({
                url : "{% url 'commercial:ConfigAvoir' %}",
                data : {
                    'id_facture' : id_facture,
                    'motif_avoir' : motif_avoir,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                type : "POST",

                success : function(response){
                    response.messages.forEach(function(message) {
                            if (message.tags.includes('success')) {
                                alertify.success(message.message);
                            } else if (message.tags.includes('error')) {
                                alertify.error(message.message);
                            }
                        });

                    loadItem();
                    $('#newAvoir').modal('hide');

                }
            });
        });
        
        $(document).on('click', '#confirmDeleteFacutreAvoir', function(){
            var id_avoir = $(this).data('id');

            var lab = '<div class="swal2-icon swal2-warning swal2-animate-danger-icon" style="display: flex;"><span class="swal2-icon-text">!</span></div>';

            var content = "<h4 class='fs-semibold'>Vous étes sur le point de supprimer la facture d'avoir</h4>" +
                "<p class = 'text-muted fs-14 mb-4 pt-1' > La suppréssion de la facture supprimera toutes les informations dans la base de données. </p>" +
                "<div class = 'hstack gap-2 justify-content-center remove'>" +
                "<button class ='btn btn-link link-info fw-semibold text-decoration-none' id = 'deleteRecord-close' data-bs-dismiss = 'modal' > <i class = 'ri-close-line me-1 align-middle'> </i> Fermer </button>" +
                "<button class ='btn btn-primary' data-id='"+id_avoir+"' id='confirmDelete'> Confirmer la suppréssion </button> </div>";

            $('#deleteModalBody').html(lab+content);
            $('#deleteRecordModal').modal('show');
            
        })
        
        $(document).on('click', '#confirmDelete', function(){
            var id_avoir = $(this).data('id');
            $.ajax({
                url :"{% url 'commercial:DeleteFactureAvoir'  %}",
                type : "GET",
                data : {
                    'id_avoir' : id_avoir,
                },
                success : function(response){
                    response.messages.forEach(function(message) {
                            if (message.tags.includes('success')) {
                                alertify.success(message.message);
                            } else if (message.tags.includes('error')) {
                                alertify.error(message.message);
                            }
                        });

                    loadItem();
                    $('#deleteRecordModal').modal('hide');
                }
            });
        });
    
        
    }); 

</script>

{% endblock content %}




