{% extends 'base.html' %}
{% block title %}Catégorie des produits{% endblock title %}
{% load static %}
{% block sidebarre %} {% include 'navbar.html' %} {% endblock sidebarre %}
{% block content %}


<div class="content-body">
    <div class="container-fluid">
        
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Gestion des produits</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Catégories des produits</a></li>
            </ol>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a href="{% url 'commercial:nouveau-produit' %}" class="btn btn-primary"> Ajout rapide d'un categorie </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example3" class="display" style="min-width: 100%">
                                <thead>
                                    <tr>
                                       
                                        <th>Designation</th>
                                        <th>Crée le</th>
                                        <th>Actions</th>
                                        
                                    </tr>
                                </thead>
                                <tbody >
                                    {% for e in list %}
                                        <tr>
                                            
                                            <td>{{e.label}}</td>
                                            
                                            <td><a href="javascript:void(0);"><strong>{{e.created_at}}</strong></a></td>
                                            <td>
                                                <div class="d-flex">
                                                    <a href="{% url 'commercial:details-produit' pk=e.id %}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                                    <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                </div>												
                                            </td>												
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        loadItem();

        function loadItem(){

        }
    });
</script>

{% endblock content %}