 
 {% load static %}
 <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'back/vendor/global/global.min.js' %}"></script>
	<script src="{% static 'back/vendor/chart-js/chart.bundle.min.js' %}"></script>
	<script src="{% static 'back/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
	
	<!-- Apex Chart -->
	<script src="{% static 'back/vendor/apexchart/apexchart.js' %}"></script>
	<script src="{% static 'back/vendor/nouislider/nouislider.min.js' %}"></script>
	<script src="{% static 'back/vendor/wnumb/wNumb.js' %}"></script>
	
	<!-- Dashboard 1 -->
	<script src="{% static 'back/js/dashboard/dashboard-1.js' %}"></script>

    <script src="{% static 'back/js/custom.min.js' %}"></script>
	<script src="{% static 'back/js/dlabnav-init.js' %}"></script>
   <script src="{% static 'back/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
   <script src="{% static 'back/js/plugins-init/datatables.init.js' %}"></script>

    <!-- Toastr -->
    <script src="{% static 'back/vendor/toastr/js/toastr.min.js' %}"></script>

    <!-- All init script -->
    <script src="{% static 'back/js/plugins-init/toastr-init.js' %}"></script>

	<script src="{% static 'back/vendor/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <script src="{% static 'back/js/plugins-init/sweetalert.init.js' %}"></script>
   	
	<!-- JavaScript -->
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>

   <script>
		jQuery(document).ready(function(){
			setTimeout(function() {
				dezSettingsOptions.version = 'Light';
				new dezSettings(dezSettingsOptions);
			},500)
		});
	</script>

	<script>
		alertify.set('notifier', 'position', 'top-right');
		{% for flashmeg in messages %}
			{% if 'success' in flashmeg.tags %}
				alertify.success("{{ flashmeg.message|escapejs }}");
			{% elif 'error' in flashmeg.tags %}
				alertify.error("{{ flashmeg.message|escapejs }}");
			{% endif %}
		{% endfor %}
	</script>

	